.config/ags/node_modules
.config/ags/scss/_musicmaterial.scss
.config/ags/scss/_musicwal.scss
.config/ags/scss/_material.scss
/diagnose.result
/ii_ags.log
/cache
# Ignore Python cache files
__pycache__/
*.py[cod]
.config/Code 
.config/picker
.config/quickshell/ii/.qmlls.ini
.config/DingTalk
.bash_history
.bash_logout
.bash_profile
.bashrc
.bytertc
.cache
.claude
.codeium
.digital-ide
.dotnet
.etxc-webcache
.gemini
.gnupg
.gtkrc-2.0
.local
.marscode
.mozilla
.npm
.nvim1
.pki
.rustup
.snpsinstaller
.ssh
.ut_storage
.var
.venv
.viminfo
.vscode
.wakatime
.wakatime.cfg
.wget-hsts
.zen
.zotero
.zshrc
1
backup
config.bak
dead.letter
Desktop
Documents
Downloads
go
Music
nvim
Pictures
Public
Templates
test.md
ThunderNetwork
Videos
work
Zotero
迅雷下载
.verdi_onesearch_history.log
verdiLog
高德打车行程单.pdf
